.DS_Store
*.pyc
__pycache__
dist
build
docs
docs/build
docs/source/reference/services

# virtualenv names
.venv

# important: config
app/config.py

# wiki
wiki

# logs
logs/

# database
app/database/**