{% extends "layout.html" %}
{% block title %}
    500 - 服务器内部错误
{% endblock %}
{% block content %}
<div class="bg-white p-8 rounded-lg shadow-lg">
    <h1 class="text-xl text-red-500 font-bold mb-2">500 Internal Server Error</h1>
    <p class="mb-2">Oops! Something went wrong on our end.</p>
    <p>Please try again later or contact support.</p>
    <button class="mt-4 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
       <a href="/">Take me home</a>
    </button>
 </div>
{% endblock %}