{% extends "base.html" %}

{% block content %}
<h1 class="text-xl font-bold mb-4">多个输入的页面</h1>

<form action="{{ url_for('diary_submit') }}" method="POST">
  <div class="mb-4">
    <label for="date" class="inline-block w-20 font-medium mr-4">时间：</label>
    <input type="text" id="date" name="date" class="border rounded px-2 py-1 w-56">
  </div>

  <div class="mb-4">
    <label for="price" class="inline-block w-20 font-medium mr-4">价格：</label>
    <input type="text" id="price" name="price" class="border rounded px-2 py-1 w-56">
  </div>

  <div class="mb-4">
    <label for="pair" class="inline-block w-20 font-medium mr-4">交易对：</label>
    <input type="text" id="pair" name="pair" class="border rounded px-2 py-1 w-56">
  </div>

  <div class="mb-4">
    <label for="direction" class="inline-block w-20 font-medium mr-4">方向：</label>
    <select name="direction" id="direction" class="border rounded px-2 py-1 w-56">
      <option value="buy">买入</option>
      <option value="sell">卖出</option>
    </select>
  </div>

  <div class="mb-4">
    <label for="margin" class="inline-block w-20 font-medium mr-4">保证金：</label>
    <input type="text" id="margin" name="margin" class="border rounded px-2 py-1 w-56">
  </div>

  <div class="mb-4">
    <label for="leverage" class="inline-block w-20 font-medium mr-4">杠杆：</label>
    <select name="leverage" id="leverage" class="border rounded px-2 py-1 w-56">
      <option value="3">3倍</option>
      <option value="5">5倍</option>
      <option value="10">10倍</option>
    </select>
  </div>

  <div class="mb-4">
    <label for="open_reason" class="inline-block w-20 font-medium mr-4">开仓理由：</label>
    <textarea id="open_reason" name="open_reason" class="border rounded px-2 py-1 w-56"></textarea>
  </div>

  <div class="mb-4">
    <label for="close_reason" class="inline-block w-20 font-medium mr-4">平仓理由：</label>
    <textarea id="close_reason" name="close_reason" class="border rounded px-2 py-1 w-56"></textarea>
  </div>

  <div class="mb-4">
    <label for="profit" class="inline-block w-20 font-medium mr-4">最终收益：</label>
    <input type="text" id="profit" name="profit" class="border rounded px-2 py-1 w-56">
  </div>

  <div class="mb-4">
    <label for="close_price" class="inline-block w-20 font-medium mr-4">平仓价格：</label>
    <input type="text" id="close_price" name="close_price" class="border rounded px-2 py-1 w-56">
  </div>

  <div class="mb-4">
    <label for="remarks" class="inline-block w-20 font-medium mr-4">remarks</label>
    <input type="text" id="remarks" name="remarks" class="border rounded px-2 py-1 w-56">
  </div>

  <input type="submit" class="bg-blue-500 text-white px-2 py-1 rounded hover:bg-blue-700"
    onclick="onSubmit(event)">
</form>

<!-- 弹窗 -->
<div class="hidden bg-blue-600 text-white px-6 py-4 border-0 rounded relative mt-5" id="success-message">
  <span class="text-xl inline-block mr-5 align-middle">
    <i class="fas fa-bell"></i>
  </span>
  <span class="inline-block align-middle mr-8">
    提交成功。
  </span>
  <button
    class="absolute bg-transparent text-2xl font-semibold leading-none right-0 top-0 mt-4 mr-6 outline-none focus:outline-none"
    onclick="hideSuccessMessage()">
    <span>×</span>
  </button>
</div>

{% endblock %}

{% block script %}
<script>
  function onSubmit(event) {
    if (confirm("确认提交？") == false) return false; // 确认提交

    event.preventDefault();// 阻止表单默认行为
    
    var successMessageBox = document.getElementById("success-message");
    successMessageBox.classList.remove("hidden");
    setTimeout(hideSuccessMessage, 3000); // 隐藏弹窗，时间设定为 3 秒

    const form = event.target.form;
    const data = new FormData(form);

    fetch(form.action, {
      method: form.method,
      body: data,
    })
      .then(response => response.json())
      .then(data => {
        console.log('Success:', data);
      })
      .catch((error) => {
        console.error('Error:', error);
      });
  }

  function hideSuccessMessage() {
    var successMessageBox = document.getElementById("success-message");
    successMessageBox.classList.add("hidden");
  }

</script>
{% endblock %}