{% extends "base.html" %}

{% block title %}Price alerter{% endblock %}

{% block content %}
    <div class="container mx-auto my-6">
        <h1 class="text-3xl mb-4">Price alerter</h1>

        <div class="w-full max-w-sm mx-auto">
            <form action="{{ url_for('alert_list') }}" method="GET">
                <div class="mb-4">
                    <label class="block text-gray-700 font-bold mb-2" for="crypto">
                        Crypto:
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" id="crypto" name="crypto" placeholder="Enter a crypto">
                </div>

                <div class="mb-4">
                    <label class="block text-gray-700 font-bold mb-2" for="currency">
                        Currency:
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" id="currency" name="currency" placeholder="Enter a currency">
                </div>

                <div class="mb-4">
                    <label class="block text-gray-700 font-bold mb-2" for="price">
                        Price:
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="number" id="price" name="price" step="0.0001" placeholder="Enter a price">
                </div>

                <div class="flex items-center justify-between">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                        alert
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
